node {
	fill-color: rgba(0,0,0,128);
	size: 1.5gu;
	stroke-mode: plain;
	stroke-color: red;
	stroke-width: 1;
}

node.solar {
	fill-color: rgba(255,215,0,128);
}

node.close{
	size:1.5gu;
}
node.short{
	size:2.5gu;
}
node.medium{
	size:4.5gu;
}